a, p, li, div,.note{
font-family: 'Open Sans', sans-serif;
}
 strong, b {
 font-weight:bold;
 }
 
p {
	color:#000000;
	font-size:150%;
	text-align:center;
	
}
a:link {
  color:#000000;
  text-decoration:none;
}
a:hover {
  color:#777777;
  text-decoration:none;
}
a:active {
  color:#999999;
  text-decoration:none;
}
a:visited {
  color:#660000;
  text-decoration:none;
}

.clear{
opacity:0.5;
}
.location {
color:#FF0000;
}
.note,{
font-size:50%;
}

#evil-grow:hover {
font-size:350%;
}

#evil-disguise:hover {
color:black;
font-size:200%;
transform:rotate(360deg);
}

#evil-note:hover {
font-size:75%;
}

.evil, #evil-burst, #evil-note, #evil-grow, #evil-disguise {
font-family: 'Permanent Marker', sans-serif;
color:#660000;
font-size:150%;
padding:20px;
}

  span {
  transition:all 0.5s;
  display:inline-block;
  }

#evil-burst {
  padding: 0;
  margin: 0 auto;
  -webkit-transition: all .5s; /* Safari */
 	transition: all .5s;
  transition-delay:2s;
  }

#evil-burst:hover span{
  color:#660000;
  font-size:250%;
  transform:rotate(3600deg);
  display:inline-block;
}

.bounce {
position: relative;

animation-name: bouncethat;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

@keyframes bouncethat {
0% {top:0px;}
50% {top:-150px;}
100% {top:0px;}
}

#tempor{
color:transparent;
}

#tempor:hover{
color:black;
}

#fade:hover{
color:transparent;
}


@-webkit-keyframes rumble {
    0% {-webkit-transform: rotate(0deg);}
    25% {-webkit-transform: translate(2px, 0px) rotate(-3deg);}
    50% {-webkit-transform: translate(0px, -2px) rotate(0deg);}
    75% {-webkit-transform: translate(-2px, 0px) rotate(3deg);}
    100% {-webkit-transform: translate(0px, 2px) rotate(0deg);} 
}

.rumble, .rumble-hover:hover, .rumble-active:active {
    -webkit-animation: rumble .0625s infinite linear}

h1, .nav-ish {
font-family: 'Oswald', sans-serif;
}

h3, h4 {
font-family: 'Oswald', sans-serif;
text-align:center;
}

.nav{
font-size:75%;
}

#wrapper {
	 width: 800px;
	 margin:auto;
}

 #zoetrope {
        height:200px; width:200px;
        background: url("rockon.png") 0 0;
        animation: rockon .25s steps(4) infinite;
        animation-play-state: running;
      }

      @keyframes visionsclear {
        100%{background-position:800px;}
      }

a {
 text-align:center;
}
.menu {
height:150px;
width:150px;
 margin: auto;
 /*padding:10px;*/
}