a, p, li, .note{
font-family: 'Open Sans', sans-serif;
}
 strong, b {
 font-weight:bold;
 }
 
p {
	color:#000000;
	font-size:150%;
	text-align:center;
	
}
a:link {
  color:#000000;
  text-decoration:none;
}
a:hover {
  color:#777777;
  text-decoration:none;
}
a:active {
  color:#999999;
  text-decoration:none;
}
a:visited {
  color:#660000;
  text-decoration:none;
}

.clear{
opacity:0.5;
}
.location {
color:#660000;
}
.note{
font-size:50%;
}

.evil, #evil-burst{
font-family: 'Permanent Marker', sans-serif;
color:#660000;
font-size:200%;
padding:20px;
}

  span {
  transition:all 0.5s;
  display:inline-block;
  }

#evil-burst {
  padding: 0;
  margin: 0 auto;
  -webkit-transition: all .5s; /* Safari */
 	transition: all .5s;
  transition-delay:2s;
  }

#evil-burst:hover span{
  color:#660000;
  font-size:250%;
  transform:rotate(3600deg);
  display:inline-block;
}



h1, .nav-ish {
font-family: 'Oswald', sans-serif;
}

h3, h4 {
font-family: 'Oswald', sans-serif;
text-align:center;
}

.nav{
font-size:75%;
}

#wrapper {
	 width: 900px;
	 background-color:rgba(253, 79, 87, 0.2);
	 margin:auto;
}

a {
 text-align:center;
}
.menu {
height:150px;
width:150px;
 margin: auto;
 /*padding:10px;*/
}